.top-row{
  background-color: white;
  min-height: 12vh;
}

.skinny-gray{
  background-color: #dddddd;
  min-height: 1vh;
}

.maple-row{
  background-image: url(wood.png);
  min-height: 50vh;
  background-size: cover;
}

.black-row{
  background-color: black;
  min-height: 45vh;
  color: #dddddd;
}

.button{
  background-color: #666666;
  color: #dddddd;
}

.gray{
  background-color: #dddddd;
  min-height: 50vh;
}

img{
  max-height: 250px;
  max-width: 250px;
}